.intro__list {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-style: mixed;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0;
  text-align: start;
  list-style-type: none;
  padding: 0;
}