.header {
  position: relative;
  height: 100vh;
  max-height: 52px;
  min-width: 1184px;
  transform: translateY(28px);
  margin: 0 48px 0 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width:320px) {
  .header {
    max-width: 288px;
    transform: translate(16px);
  }
}

@media screen and (max-width:768px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (max-width:1024px) {
  .header {
    max-width: 928px;
  }
}