.footer__links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 18px;
  padding: 0;
}

@media screen and (max-width:320px) {
  .footer__links {
    row-gap: 32px;
    flex-direction: column;
    flex-wrap: wrap;
  }
}