.place__paragraph {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 0;
  width: 100%;
}

.place__paragraph:nth-child(2) {
  margin: 26px 0 0 0;
}

@media screen and (min-width:768px) and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    max-width: 352px;
  }

  .place__paragraph:nth-child(2) {
    margin: 25px 0 0 0;
  }
}

@media screen and (min-width:320px) and (max-width: 767px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26.08px;
    width: 94.87%;
    margin: 0 16px 0 16px;
  }

  .place__paragraph:nth-child(2) {
    margin: 25px 16px 0 16px;
  }
}