.place {
  display: grid;
  max-width: 984px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 48px 40px;
  box-sizing: border-box;
  justify-content: center;
  align-items: start;
}

@media screen and (max-width:1024px) {
  .place {
    max-width: 928px;
    gap: 48px 32px;
  }
}

@media screen and (max-width:768px) {
  .place {
    max-width: 720px;
    gap: 48px 28px;
  }
}

@media screen and (max-width:320px) {
  .place {
    max-width: 288px;
    gap: 32px;
  }
}