.place__website {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  list-style-type: none;
  max-width: 456px;
  padding: 0;
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  display: grid;
  justify-content: space-between;
  align-content: space-between;
}

@media screen and (max-width: 1024px) {
  .place__website {
    max-width: 288px;
  }
}

@media screen and (max-width: 768px) {
  .place__website {
    max-width: 2352px;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    grid-column: 1;
    grid-row: 1;
    max-width: 288px;
  }
}